<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.classdesign">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".search_Result">
        </activity>
        <activity android:name=".wait_Pingjia">
        </activity>
        <activity android:name=".wait_Buy">
        </activity>
        <activity android:name=".wait_Receive">
        </activity>
        <activity android:name=".Purchase">
        </activity>
        <activity android:name=".toNew">
        </activity>
        <activity android:name=".good_Detail">
        </activity>
        <activity android:name=".Category">
        </activity>
        <activity
                android:name=".Mine"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".Login">
        </activity>
        <activity
                android:name=".Shop_car"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".MainActivity"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>